@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
:root {
  --primary-100: #ff5520;
  --primary-200: #ffd7ca;
  --primary-300: #e56a6e;
  --primary-400: #ff8863;
  --text-000: #ffffff;
  --text-100: #1e1e1e;
  --text-200: #3c3c3c;
  --text-300: #666666;
  --text-400: #aaaaaa;
  --text-500: #f3f3f3;
  --text-600: #e6e6e6;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-36: 36px;
  --font-size-32: 32px;
  --font-size-40: 40px;
  --font-size-48: 48px;
  --padding-small: 0.5rem;
  --padding-normal: 0.7rem;
  --padding-basic: 1rem;
  --padding-medium: 1.5rem;
  --padding-large: 2rem;
  --padding-huge: 4rem;
  --margin-small: 0.5rem;
  --margin-basic: 1rem;
  --margin-medium: 1.5rem;
  --margin-large: 2rem;
  --gap-small: 0.5rem;
  --gap-basic: 1rem;
  --gap-medium: 1.5rem;
  --gap-large: 2rem;
  --gap-huge: 3rem;
  --border-radius-5: 5px;
  --border-radius-10: 10px;
  --border-radius-15: 15px;
  --border-radius-20: 20px;
  --border-radius-30: 30px;
  --transition-basic: all 0.3s ease-in-out;
  --box-shadow-basic: 0 0px 6px rgba(0, 0, 0, 0.2);
  --box-shadow-medium: 2.25px 3px 14.4px 0.75px rgba(0, 0, 0, 0.25);
  --box-shadow-white: 0px 0px 12px 0.75px rgba(255, 255, 255, 0.25);
  --width-full: 100vw;
  --width-half: 50vw;
  --height-full: 100vh;
  --height-half: 50vh;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: var(--text-100);
  box-sizing: border-box;
  font-family:
    Pretendard,
    Pretendard Variable,
    Noto Sans KR,
    sans-serif;
  font-weight: 400;
}
a,
button {
  box-sizing: border-box;
  font-family:
    Pretendard,
    Pretendard Variable,
    Noto Sans KR,
    sans-serif;
}
a {
  color: var(--text-100);
  display: block;
  outline: 0;
  text-decoration: none;
}
img {
  border: none;
  object-fit: contain;
}
button {
  border: none;
  color: var(--text-100);
  background-color: var(--text-000);
}
.container {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subSection {
  width: 100%;
  min-height: calc(100vh - 74px);
}
._header_k6b5g_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-000);
  border-bottom: 1px solid var(--text-500);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding: var(--padding-small) var(--padding-large);
}
._pcMenu_k6b5g_11 {
  justify-content: space-between;
}
._logo_k6b5g_15 {
  width: 132px;
  object-fit: cover;
}
._navMenu_k6b5g_20 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-basic);
}
._navMenu_k6b5g_20 ._navMenuItem_k6b5g_28 {
  position: relative;
}
._navMenuItem_k6b5g_28:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3rem;
}
._navMenuItem_k6b5g_28 > a {
  padding: var(--padding-normal) var(--padding-basic);
  transition: var(--transition-basic);
}
._navMenuItem_k6b5g_28:hover > a {
  color: var(--primary-100);
}
._dropdownMenu_k6b5g_49 {
  display: none;
  position: absolute;
  font-size: var(--font-size-14);
  top: 4rem;
  left: 0;
  border: 1px solid var(--text-500);
  border-radius: var(--border-radius-20);
  background-color: var(--text-000);
}
._dropdownMenu_k6b5g_49 li a {
  width: 146px;
  font-size: var(--font-size-14);
  padding: var(--padding-basic) var(--padding-medium);
  box-sizing: border-box;
  transition: var(--transition-basic);
}
._navMenuItem_k6b5g_28:hover ._dropdownMenu_k6b5g_49,
._dropdownMenu_k6b5g_49:hover {
  display: block;
}
._dropdownMenu_k6b5g_49 li:hover a {
  color: var(--primary-100);
}
._download_k6b5g_78 > a {
  color: var(--text-000);
  background-color: var(--primary-100);
  border-radius: var(--border-radius-10);
}
._download_k6b5g_78:hover > a {
  color: var(--text-000);
  box-shadow: var(--box-shadow-basic);
}
._download_k6b5g_78 li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-small);
}
._download_k6b5g_78 img {
  width: 14px;
}
._lanToggle_k6b5g_101 {
  display: flex;
  align-items: center;
  justify-content: center;
}
._lanToggle_k6b5g_101 img {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
._lanToggle_k6b5g_101:hover img,
._dropdownMenu_k6b5g_49:hover ._lanToggle_k6b5g_101 img {
  content: url(/assets/nav/nav_lang_active.png);
}
._footer_vz2iv_1 {
  font-size: var(--font-size-14);
  background-color: var(--text-100);
  padding: var(--padding-large);
}
._inner_vz2iv_7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
._footerTop_vz2iv_14,
._footerBottom_vz2iv_15 {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: row;
  gap: var(--gap-small);
}
._footerTop_vz2iv_14 {
  padding-bottom: var(--padding-large);
  border-bottom: 1px solid var(--text-300);
}
._footerTop_vz2iv_14 a {
  color: var(--text-300);
  transition: var(--transition-basic);
}
._footerLinks_vz2iv_35,
._socialIcons_vz2iv_36 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-basic);
}
._footerLinks_vz2iv_35 a:hover {
  color: var(--text-000);
}
._socialIcons_vz2iv_36 ._socialIcon_vz2iv_36 {
  width: 36px;
  height: 36px;
  background-color: var(--text-300);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-basic);
}
._socialIcons_vz2iv_36 img {
  width: 24px;
  height: 24px;
}
._socialIcons_vz2iv_36 ._socialIcon_vz2iv_36:nth-child(2) img {
  width: 18px;
  height: 18px;
}
._socialIcons_vz2iv_36 ._socialIcon_vz2iv_36:hover {
  box-shadow: var(--box-shadow-white);
}
._socialIcons_vz2iv_36 ._socialIcon_vz2iv_36:nth-child(1):hover {
  background-color: #e1002d;
}
._socialIcons_vz2iv_36 ._socialIcon_vz2iv_36:nth-child(2):hover {
  background-color: #0a66c2;
}
._footerBottom_vz2iv_15 {
  font-size: var(--font-size-12);
  color: var(--text-400);
  padding-top: var(--padding-large);
}
._footerBottom_vz2iv_15 a {
  color: var(--text-400);
}
._companyInfo_vz2iv_91 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}
._companyInfo_vz2iv_91 ul {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}
._companyInfo_vz2iv_91 ._contact_vz2iv_103 li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-small);
}
._companyInfo_vz2iv_91 ._contact_vz2iv_103 a {
  transition: var(--transition-basic);
}
._companyInfo_vz2iv_91 ._contact_vz2iv_103 a:hover {
  color: var(--text-000);
}
._companyLogo_vz2iv_118 {
  width: 64px;
  height: 88px;
  object-fit: cover;
}
._heroContainer_12nsx_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 var(--padding-large);
}
._heroContent_12nsx_10,
._heroImage_12nsx_11 {
  display: flex;
  align-items: center;
  justify-content: center;
}
._heroContent_12nsx_10 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-huge) 0;
  gap: var(--gap-medium);
}
._heroTitle_12nsx_24 {
  font-size: var(--font-size-48);
  color: var(--primary-100);
  line-height: 150%;
}
._heroDescription_12nsx_30 {
  font-size: var(--font-size-18);
  color: var(--text-300);
  line-height: 150%;
}
._heroImage_12nsx_11 img {
  width: 380px;
}
._downloadButtons_12nsx_42 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-basic);
}
._downloadButton_12nsx_42 {
  color: var(--text-000);
  background-color: var(--text-200);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small);
  padding: var(--padding-normal) var(--padding-basic);
  border-radius: var(--border-radius-10);
}
._downloadButton_12nsx_42 img {
  width: 24px;
  height: 24px;
}
._serviceSection_6hjhs_1 {
  color: var(--text-000);
  background: linear-gradient(to bottom, var(--primary-100), var(--text-000));
}
._serviceContainer_6hjhs_6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding-huge) 0;
}
._question_6hjhs_15 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-basic);
}
._questionTitle_6hjhs_24 {
  text-align: center;
  margin-bottom: var(--margin-large);
}
._questionTitle_6hjhs_24 h2 {
  font-size: var(--font-size-40);
  line-height: 150%;
}
._questionTitle_6hjhs_24 p {
  font-size: var(--font-size-18);
  margin-top: var(--margin-medium);
}
._questionContent_6hjhs_40 {
  width: 100%;
}
._questionContent_6hjhs_40 li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--margin-basic);
}
._questionContent_6hjhs_40 li:nth-child(1) {
  justify-content: flex-start;
}
._questionContent_6hjhs_40 li:nth-child(2) {
  justify-content: end;
  flex-direction: row-reverse;
}
._questionContent_6hjhs_40 li:nth-child(3) {
  justify-content: center;
}
._questionContent_6hjhs_40 li img {
  width: 100px;
  z-index: 999;
}
._questionContent_6hjhs_40 li ._problem_6hjhs_69 {
  position: relative;
  left: -1.5rem;
  color: var(--text-100);
  background-color: var(--text-000);
  padding: var(--padding-medium) var(--margin-large);
  border-radius: var(--border-radius-10);
  opacity: 0.9;
}
._questionContent_6hjhs_40 li:nth-child(2) ._problem_6hjhs_69 {
  left: 1.5rem;
}
._questionContent_6hjhs_40 li ._problem_6hjhs_69 p:first-child {
  font-size: var(--font-size-14);
  color: var(--text-300);
  margin-bottom: var(--margin-basic);
}
._questionContent_6hjhs_40 li ._problem_6hjhs_69 span {
  font-weight: 600;
}
._divided_6hjhs_94 {
  width: 2px;
  height: 180px;
  background: repeating-linear-gradient(
    to bottom,
    #ff8058,
    #ff5520 5px,
    transparent 5px,
    transparent 10px
  );
  position: relative;
  margin-bottom: var(--margin-large);
}
._divided_6hjhs_94:after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--primary-100);
}
._answer_6hjhs_121 {
  width: 100%;
  padding: var(--padding-basic);
  background-color: var(--primary-200);
  border-radius: var(--border-radius-20);
  box-sizing: border-box;
}
._answerTitle_6hjhs_129 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-basic);
  background-color: var(--primary-100);
  border-radius: var(--border-radius-20);
  margin-bottom: var(--margin-medium);
}
._answerTitle_6hjhs_129 h3 {
  font-size: var(--font-size-24);
  font-weight: 600;
  line-height: 150%;
}
._answerContent_6hjhs_145 ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-basic);
  align-items: center;
  justify-content: space-between;
  grid-auto-rows: 1fr;
}
._answerContent_6hjhs_145 ul li {
  padding: var(--padding-medium);
  background-color: var(--text-000);
  border-radius: var(--border-radius-10);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 20px #ff886380;
}
._answerContent_6hjhs_145 ul li h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-100);
  margin-bottom: var(--margin-small);
}
._answerContent_6hjhs_145 ul li p {
  font-size: 14px;
  line-height: 150%;
  color: var(--text-300);
}
._answerContent_6hjhs_145 ._answerIcon_6hjhs_180 {
  margin-top: var(--margin-basic);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
._answerContent_6hjhs_145 img {
  width: 58px;
  height: 58px;
}
._featureSection_1mbyu_1 {
  padding: var(--padding-huge) 0;
  background: linear-gradient(to bottom, var(--text-000), var(--text-500));
}
._featureContainer_1mbyu_6 {
  align-items: flex-start;
  position: relative;
  justify-content: space-between;
}
._featureContentWrapper_1mbyu_12,
._featureImageWrapper_1mbyu_13 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
._featureContentWrapper_1mbyu_12 {
  height: var(--height-full);
  padding: 0 var(--padding-basic);
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
}
._featureContent_1mbyu_12 {
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: var(--transition-basic);
}
._featureContent_1mbyu_12 h2 {
  font-size: var(--font-size-40);
  line-height: 150%;
  padding-bottom: var(--padding-basic);
}
._featureContent_1mbyu_12 p {
  font-size: var(--font-size-30);
  color: var(--text-400);
  line-height: 150%;
}
._active_1mbyu_49 {
  opacity: 1;
  visibility: visible;
  display: block;
}
._progress_1mbyu_55 {
  margin-bottom: var(--margin-large);
  padding-left: var(--padding-small);
}
._progress_1mbyu_55 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-small);
}
._progress_1mbyu_55 li {
  width: 12px;
  height: 12px;
  background-color: var(--primary-400);
  border-radius: 100%;
}
._progress_1mbyu_55 ._activeProgress_1mbyu_74 {
  width: 18px;
  height: 12px;
  border-radius: var(--border-radius-10);
  background-color: var(--primary-100);
}
._featureImage_1mbyu_13 {
  height: var(--height-full);
  display: flex;
  align-items: center;
  justify-content: center;
}
._featureImage_1mbyu_13 img {
  width: 380px;
}
._stepContainer_up5pv_1 {
  height: var(--height-full);
  padding: var(--padding-huge) 0;
  flex-direction: column;
  gap: var(--gap-huge);
  box-sizing: border-box;
}
._stepContent_up5pv_10 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
._stepContent_up5pv_10 h2 {
  font-size: var(--font-size-40);
  line-height: 150%;
}
._stepContent_up5pv_10 h2:last-child {
  color: var(--primary-100);
}
._stepImage_up5pv_27 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-large);
}
._stepImage_up5pv_27 ._imageBox_up5pv_36,
._stepImage_up5pv_27 ._progress_up5pv_37 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._stepImage_up5pv_27 ._progress_up5pv_37 {
  overflow-y: hidden;
}
._stepImage_up5pv_27 ._progress_up5pv_37 li {
  width: 160px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
._stepImage_up5pv_27 ._progress_up5pv_37 li p {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--text-600);
  transition: var(--transition-basic);
}
._stepImage_up5pv_27 ._progress_up5pv_37 li:not(:last-child):after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: calc(40vw - 80px);
  height: 4px;
  background-color: var(--text-600);
  z-index: -999;
}
._stepImage_up5pv_27 ._progress_up5pv_37 li ._activeP_up5pv_78 {
  transform: scale(1.3);
  background-color: var(--primary-100);
}
._stepImage_up5pv_27 ._progress_up5pv_37 li._activeLi_up5pv_83:after {
  background-color: var(--primary-100);
}
._stepImage_up5pv_27 ._stepBox_up5pv_88 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
._stepImage_up5pv_27 ._stepBox_up5pv_88 ._step_up5pv_1 {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
._stepImage_up5pv_27 ._stepBox_up5pv_88 ._step_up5pv_1 p {
  width: 100%;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}
._stepImage_up5pv_27 ._stepBox_up5pv_88 ._step_up5pv_1 p:nth-child(1) {
  color: var(--primary-100);
  font-weight: 500;
  padding-bottom: var(--padding-small);
}
._imageBox_up5pv_36 img {
  width: 160px;
}
._patentContainer_vlgyt_1 {
  height: var(--height-full);
  padding: var(--padding-huge) 0;
  flex-direction: column;
  gap: var(--gap-huge);
}
._patentContent_vlgyt_9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
._patentContent_vlgyt_9 p {
  font-size: var(--font-size-18);
  line-height: 150%;
  margin-bottom: var(--margin-basic);
}
._patentContent_vlgyt_9 h2 {
  font-size: var(--font-size-40);
  line-height: 150%;
}
._patentContent_vlgyt_9 h2:last-child {
  color: var(--primary-100);
}
._patentImages_vlgyt_33 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
._patentImages_vlgyt_33 img {
  width: 160px;
  border-radius: var(--border-radius-15);
  transition: var(--transition-basic);
}
._patentImages_vlgyt_33 img:hover {
  box-shadow: var(--box-shadow-medium);
}
._patentImages_vlgyt_33 img:nth-child(1):hover {
  content: url(/assets/home/patent_image1.png);
}
._patentImages_vlgyt_33 img:nth-child(2):hover {
  content: url(/assets/home/patent_image2.png);
}
._patentImages_vlgyt_33 img:nth-child(3):hover {
  content: url(/assets/home/patent_image3.png);
}
._patentImages_vlgyt_33 img:nth-child(4):hover {
  content: url(/assets/home/patent_image4.png);
}
._partnerSection_ein2u_1 {
  min-height: 60vh;
}
._partnerContainer_ein2u_5 {
  padding: var(--padding-huge) 0;
  flex-direction: column;
  gap: var(--gap-huge);
}
._partnerContent_ein2u_12 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
._partnerContent_ein2u_12 h2 {
  font-size: var(--font-size-40);
  line-height: 150%;
}
._partnerContent_ein2u_12 h2:last-child {
  color: var(--primary-100);
}
._partnerImages_ein2u_30 {
  width: 100%;
  height: calc(64px + var(--gap-huge));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-huge);
  overflow: hidden;
  position: relative;
}
._partnerImages_ein2u_30 img {
  height: 32px;
}
._partnerImageTop_ein2u_46,
._partnerImageBottom_ein2u_47 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-basic);
}
._partnerImageTop_ein2u_46 {
  position: absolute;
  top: 0;
  left: 0;
  animation: _slide-left_ein2u_1 10s linear infinite;
  -webkit-animation: _slide-left_ein2u_1 10s linear infinite;
  -moz-animation: _slide-left_ein2u_1 10s linear infinite;
  -ms-animation: _slide-left_ein2u_1 10s linear infinite;
}
@keyframes _slide-left_ein2u_1 {
  0% {
    left: 0;
  }
  to {
    left: -100%;
  }
}
._partnerImageBottom_ein2u_47 {
  position: absolute;
  top: 70%;
  left: -100%;
  animation: _slide-right_ein2u_1 10s linear infinite;
  -webkit-animation: _slide-right_ein2u_1 10s linear infinite;
  -moz-animation: _slide-right_ein2u_1 10s linear infinite;
  -ms-animation: _slide-right_ein2u_1 10s linear infinite;
}
@keyframes _slide-right_ein2u_1 {
  0% {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
._aboutSection_ie8xr_1 {
  background-color: var(--text-100);
  display: flex;
  align-items: center;
  justify-content: center;
}
._aboutContainer_ie8xr_8 {
  height: 100%;
  padding: var(--padding-huge) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-medium);
}
._aboutContent_ie8xr_19 {
  color: var(--text-000);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-large);
}
._aboutTitle_ie8xr_28 {
  font-size: var(--font-size-48);
  line-height: 150%;
}
._aboutDescription_ie8xr_33 {
  font-size: var(--font-size-18);
  line-height: 150%;
}
._aboutImages_ie8xr_38 img {
  width: 480px;
}
._goalSection_1ibiy_1 {
  height: auto;
  background: linear-gradient(to bottom, var(--text-100), var(--primary-100));
}
._goalContainer_1ibiy_6 {
  gap: var(--gap-huge);
  flex-direction: column;
}
._goal_1ibiy_1,
._value_1ibiy_12 {
  width: 100%;
  height: 100%;
  min-height: var(--height-full);
  padding: var(--padding-huge) 0;
  color: var(--text-000);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-large);
  box-sizing: border-box;
}
._goalTitle_1ibiy_25 h3,
._valueTitle_1ibiy_26 h3 {
  font-size: var(--font-size-24);
  padding-left: var(--padding-large);
  position: relative;
  margin-bottom: var(--margin-basic);
}
._goalTitle_1ibiy_25 h3:after,
._valueTitle_1ibiy_26 h3:after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--primary-100);
  border-radius: 100%;
}
._goalTitle_1ibiy_25 h2,
._valueTitle_1ibiy_26 h2 {
  font-size: var(--font-size-40);
  line-height: 150%;
}
._goal_1ibiy_1 {
  flex-direction: column;
  align-items: flex-start;
}
._goalContent_1ibiy_58 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-basic);
  align-items: center;
  justify-content: space-between;
  grid-auto-rows: 1fr;
}
._goalCard_1ibiy_68 {
  padding: var(--padding-medium);
  background-color: #1a1a1a4d;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius-20);
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 2px #ff9574;
}
._goalCard_1ibiy_68 h4 {
  font-size: var(--font-size-24);
  padding-bottom: var(--padding-basic);
  margin-bottom: var(--margin-basic);
  border-bottom: 1px solid #784a3b;
}
._goalCard_1ibiy_68 p {
  font-size: var(--font-size-18);
  line-height: 150%;
}
._value_1ibiy_12 {
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
._valueContent_1ibiy_100 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-basic);
  align-items: center;
  grid-auto-columns: 1fr;
}
._valueCard_1ibiy_108 {
  padding: var(--padding-medium);
  background-color: #ff977533;
  border-radius: var(--border-radius-20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  box-sizing: border-box;
  box-shadow: 0 0 22px #8c33174d;
  transition: var(--transition-basic);
}
._valueCard_1ibiy_108 h4 {
  font-size: var(--font-size-24);
  padding-bottom: var(--padding-basic);
  transition: var(--transition-basic);
}
._valueCard_1ibiy_108 p {
  font-size: var(--font-size-18);
  line-height: 150%;
  height: 0;
  opacity: 0;
  transition: var(--transition-basic);
}
._valueCard_1ibiy_108 img {
  width: 120px;
}
._valueCard_1ibiy_108:hover {
  box-shadow: var(--box-shadow-white);
}
._valueCard_1ibiy_108:hover p {
  height: auto;
  opacity: 1;
}
._historySection_17vtr_1 {
  padding: var(--padding-huge) 0;
  background: linear-gradient(to bottom, var(--text-000), var(--text-500));
}
._title_17vtr_6 {
  font-size: var(--font-size-40);
  line-height: 150%;
  text-align: center;
  margin-bottom: var(--margin-medium);
}
._historyContainer_17vtr_13 {
  align-items: flex-start;
  position: relative;
  justify-content: space-between;
}
._historyImageWrapper_17vtr_19,
._historyContentWrapper_17vtr_20 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
._historyImageWrapper_17vtr_19 {
  height: var(--height-full);
  padding: 0 var(--padding-basic);
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
}
._historyImageBox_17vtr_37,
._images_17vtr_44 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
._historyContent_17vtr_20 {
  transition: var(--transition-basic);
}
._historyImageWrapper_17vtr_19 img {
  width: 400px;
  border-radius: var(--border-radius-20);
}
